# Virtual Environments
backend/venv/
backend/.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Platform specific folders
backend/trained_models/
trained_models/
datasets/
logs/
reports/
backend.zip

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
